<h1 mat-dialog-title style="text-align: center;">Pointer</h1>
<div mat-dialog-content>
    
    <form novalidate (ngSubmit)="clockForm.valid ? save() : ''" [formGroup]="clockForm">

        <div class="name">
            <mat-form-field appearance="fill">
                <mat-label>Nom</mat-label>
                <mat-select formControlName="name"
                            [ngClass]="{'is-invalid': (clockForm.get('name')?.touched ||
                            clockForm.get('name')?.dirty) &&
                            !clockForm.get('name')?.valid }">
                  <mat-option   *ngFor="let item of data.employees"
                                value="{{item.forename}}" 
                                (onSelectionChange)="clockForm.get('id')?.setValue(item.id); clockForm.get('surname')?.setValue(item.surname);">
                    {{item.forename}}
                  </mat-option>
                </mat-select>
                <span class="invalid-feedback">
                    <span *ngIf="!clockForm.get('name')?.valid">
                      Veuillez sélectionner un nom.
                    </span>
                </span>
            </mat-form-field>
        </div>
        
        <div class="date">
            <mat-form-field appearance="fill">
                <mat-label>Heure</mat-label>
                <input  matInput 
                        type="time"
                        formControlName="time"
                        [ngClass]="{'is-invalid': (clockForm.get('time')?.touched ||
                            clockForm.get('time')?.dirty) &&
                            !clockForm.get('time')?.valid }">
                <span class="invalid-feedback">
                    <span *ngIf="!clockForm.get('hour')?.valid">
                      Veuillez sélectionner une heure.
                    </span>
                </span>
              </mat-form-field>
        </div>
    
        <div class="task">
            <mat-form-field appearance="fill">
                <mat-label>Tâche</mat-label>
                <mat-select formControlName="task"
                            [ngClass]="{'is-invalid': (clockForm.get('task')?.touched ||
                            clockForm.get('task')?.dirty) &&
                            !clockForm.get('task')?.valid }">
                  <mat-option *ngFor="let item of data.tasks" value="{{item}}">
                    {{item}}
                  </mat-option>
                </mat-select>
                <span class="invalid-feedback">
                    <span *ngIf="!clockForm.get('task')?.valid">
                      Veuillez sélectionner une tâche.
                    </span>
                </span>
            </mat-form-field>
        </div>
    
        <div class="comment">
            <mat-form-field appearance="fill">
                <mat-label>Commentaire</mat-label>
                <textarea matInput formControlName="comment"></textarea>
            </mat-form-field>
        </div>
    
        <div class="submit" style="text-align: center;">
            <mat-button-toggle-group aria-label="Font Style">
                <button type="submit">Valider</button>
                <mat-button-toggle (click)="dialogRef.close()">Annuler</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

    </form>

</div>