<h2>Heures d'arrivée/de départ des employé.e.s</h2>

<button type="button" class="btn btn-primary btn-sm clock" (click)="openForm()">
    Pointer
</button>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date</th>
            <th>Arrivée</th>
            <th>Départ</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let item of scheduleList">
            <td>{{ item.forename }}</td>
            <td>{{ item.surname }}</td>
            <td>{{ item.clockInDate }}</td>
            <td>{{ item.clockInTime }}</td>
            <td>{{ item.clockOutTime }}</td>
        </tr>
    </tbody>
</table>