<h2>Heures d'arrivée/de départ des employé.e.s</h2>

<button type="button" class="btn btn-primary btn-sm clock" (click)="openForm()">
    Pointer
</button>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Tâche</th>
            <th>Début</th>
            <th>Fin</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let item of tasks">
            <td>{{ item.forename }}</td>
            <td>{{ item.surname }}</td>
            <td>{{ item.task }}</td>
            <td>{{ item.timeIn }}</td>
            <td *ngIf="item.timeOut != ''">{{ item.timeOut }}</td>
            <td *ngIf="item.timeOut == ''">
                <button type="button" class="btn btn-primary btn-sm clock" (click)="updateForm(item)">
                    <mat-icon>alarm_on</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>