<h2>Liste des employé.e.s</h2>

<div class="appAngularPointage-findEmployeeContainer">
    <p>
        Chercher un.e employé.e par son
        <mat-button-toggle-group #selectFilter="matButtonToggleGroup" value="forename" aria-label="Font Style">
            <mat-button-toggle value="forename" (click)="newItem.value=''; getEmployees()">prénom</mat-button-toggle>
            <mat-button-toggle value="surname" (click)="newItem.value=''; getEmployees()">nom</mat-button-toggle>
        </mat-button-toggle-group>
        <input type="text" id="item-input" #newItem (keyup)="updateEmployee(newItem.value, selectFilter.value)">
    </p>
</div>



<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Poste</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees$ | async">
            <td>{{ employee.forename }}</td>
            <td>{{ employee.surname }}</td>
            <td>{{ employee.position }}</td>
        </tr>

    </tbody>
</table>

<p>{{info}}</p>