<h2>Feuille de pointage</h2>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Date</th>
            <th>Tache</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Prénom</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let item of tasks$ | async">
            <td>{{ item.date }}</td>
            <td>{{ item.task }}</td>
            <td>{{ item.timeIn }}</td>
            <td>{{ item.timeOut }}</td>
            <td>{{ item.forename }}</td>
            <td>{{ item.surname }}</td>
        </tr>
    </tbody>
</table>